.nav-item .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #3fa796;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-item .nav-link:hover::after {
  width: 100%;
}

.text-active-light:active {
  color: #f9f9f9 !important;
}
