:root {
  --grenOpac: rgba(34, 165, 153, 0.8);
  --primary: rgb(34, 166, 153);
  --info: #f9f9f9;
}
/* body {
  background: rgb(249, 249, 249);
  background: linear-gradient(
    0deg,
    rgba(249, 249, 249, 1) 0%,
    rgba(249, 249, 249, 0.6334908963585435) 100%,
    rgba(249, 249, 249, 1) 100%
  );
} */
