.icon {
  width: 45px;
}
.layer {
  background: transparent;
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
.layer:hover {
  background: var(--grenOpac);
}
.layer h4 {
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 1s;
}
.layer:hover h4 {
  bottom: 40%;
  opacity: 1;
}
